@tailwind base;
@tailwind components;
@tailwind utilities;
/*******************
********************
GLOBAL
********************
*******************/
.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-anton {
  font-family: "Anton", sans-serif;
}

.text-yellow-custom {
  color: #FFD15B;
}

.bg-yellow-custom {
  background-color: #FFD15B;
}

/*******************
********************
HEADER
********************
*******************/
.max-h-header {
  height: 70%;
}

* {
  font-family: "Manrope", sans-serif;
}

.header {
  z-index: 0;
  height: 41.6875rem;
  position: relative;
}
.header__img {
  height: 41.6875rem;
}
.header__content {
  background-color: rgba(0, 0, 0, 0.4);
}

.inputsrch__box--close {
  display: none;
  cursor: pointer;
  transition: 350ms;
}

.inputsrch__box--close-active {
  display: block;
  transition: 350ms;
}

#input-srch-btn:hover {
  background-color: #FFD15B;
  transition: 350ms;
}

#input-srch-btn:hover > i {
  color: black;
  transition: 350ms;
}

/*******************
********************
FILTER
********************
*******************/
.filter {
  height: 4rem;
  z-index: 10;
  position: relative;
}
.filter__tag {
  position: absolute;
  top: 0.625rem;
}
.filter__recipesresult {
  position: absolute;
  top: 2%;
  right: 0;
}

.dropdown {
  height: fit-content;
}
.dropdown__btn {
  height: 3.75rem;
}
.dropdown__search {
  position: relative;
}
.dropdown__icon--close {
  display: none;
  position: absolute;
  right: 20%;
  top: 20%;
  color: #bbbbbb;
  cursor: pointer;
}
.dropdown__icon--close-active {
  display: block;
}
.dropdown__icon--search {
  position: absolute;
  right: 5%;
  top: 20%;
  color: #bbbbbb;
}
.dropdown-subpart {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: 400ms;
}

.dropdown--active {
  max-height: 15.938rem;
  padding: 1rem;
  transition: 400ms;
}

.dropdown_list_filter {
  padding: 0.313rem 0;
}

.dropdown__list__item {
  min-height: 2.5rem;
  padding-left: 0.125rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}
.dropdown__list__item__filter {
  min-height: 2.5rem;
  margin-bottom: 0.202rem;
  background-color: #FFD15B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.dropdown__list__item:hover {
  background-color: #FFD15B;
  cursor: pointer;
}

.selected__filter__item {
  height: 3.75rem;
  width: auto;
  margin-right: 0.938rem;
  margin-bottom: 0.938rem;
  background-color: #FFD15B;
  border-radius: 0.938rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
.selected__filter__item__name {
  margin-right: 1rem;
  text-transform: capitalize;
}
.selected__filter__item__close {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 350ms;
}
.selected__filter__item__close:hover {
  background-color: black;
  color: #FFD15B;
  transition: 350ms;
}

/*******************
********************
RECIPES
********************
*******************/
.recipes__box {
  z-index: 0;
}

.card {
  width: 23.75rem;
  margin-bottom: 4.125rem;
  border-radius: 1rem;
  background-color: white;
}
.card__figure {
  position: relative;
}
.card__figure__img {
  height: 15.813rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.card__figure__time {
  height: 1.625rem;
  width: 3.938rem;
  position: absolute;
  top: 1.375rem;
  right: 1.375rem;
  border-radius: 0.875rem;
  background-color: #FFD15B;
  text-align: center;
}
.card__content {
  padding: 1.563rem 2rem;
}
.card__content__title {
  font-family: "Anton", sans-serif;
  font-size: 1.125rem;
}
.card__content__subtitle {
  margin-top: 1.8rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #7A7A7A;
}
.card__content__description {
  height: 5.2rem;
  margin-top: 0.938rem;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__content__ingredients {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 0.875rem;
}
.card__content__ingredients__item {
  width: 50%;
  margin-top: 1.313rem;
  display: flex;
  flex-flow: column;
}
.card__content__ingredients__item__name {
  font-weight: 600;
  line-height: normal;
}
.card__content__ingredients__item__qty {
  font-weight: 400;
  line-height: normal;
  color: #7A7A7A;
}/*# sourceMappingURL=main.css.map */